section.socials > .background-image.social-bg-2 {
  min-height: 100%;
}

.log {
  z-index: 4;
}

.artist-container {
  height: 100%;
  padding: 15% 0;
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.artist-card {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  place-content: end;
}

.artist-card > img {
  height: 100%;
  width: 100%;
}

.artist-card > img {
  border-radius: 10px;
  position: absolute;
  z-index: 2;
}

.artist-card > .artist-name {
  position: relative;
  z-index: 2;
  font-weight: bold;
  padding: 0 10px;
}
